---
layout: default
title: Arindam Paul
---
  <p style="text-align:center"><img src="{{ '/assets/img/profile.jpg' | prepend: site.baseurl }}" alt="" height="280" width="280"></p>
<div class="home" id="home">
    <h3 class="description">Engineer | Computer Scientist | Thinker | Writer</h3>
  <!-- <h1 class="pageTitle">About Me</h1> -->

  <p class="intro">My friends call me a lifelong learner. One reason maybe because….  </p>
	<p>I am currently a doctoral candidate in Computer Engineering at Northwestern University. I have a B.E. (Bachelor of Engineering) in Chemical Engineering and M.Eng. in Software Systems from <a href="http://www.bits-pilani.ac.in/">BITS Pilani</a>, India and a M.S. in Computer Science from Northwestern University. Hopefully by 2018, I would be having four different degrees, all in separate disciplines.</p>
  <p><font color="purple"><b><i>My research is at the intersection of Machine Learning and Computational Materials Science. I study materials data and try to build intelligent systems to accelerate materials discovery. Right now, I am also using Deep Learning techniques as I am handling more volumnious and unstructured data.</i></b></font></p>
  <p>I am working at the <a href="http://cucis.ece.northwestern.edu/">CUCIS lab</a> led by <a href="http://users.eecs.northwestern.edu/~choudhar/">Prof. Alok Choudhary</a>. I am also co-advised by <a href="http://users.eecs.northwestern.edu/~ankitag/">Prof. Ankit Agrawal</a>. My projects are part of the <a href="https://www.mgi.gov/">Materials Genome Initiative</a> of the US Government </p>
  <!-- <p>I received the <a href="https://segal.northwestern.edu">Segal Design Fellowship</a> at the beginning of my 3rd year of graduate school. The fellowship is for promising students I am currently finishing up completing a paper on my work during that time.</p> -->
  <p>Before finding my passion at my current lab, I have worked
   on internet privacy at the <a href="http://networks.cs.northwestern.edu">Northwestern Networks Group</a> led by Prof. Kuzmanovic,
    and studied anonymity in social media  at the <a href="http://socialmedia.northwestern.edu">Northwestern Social Media Lab</a> directed by Prof. Birnholtz.</p>
  <p>Teaching is one of my passions. I enjoy spending time with my students while TAing and whenever I take a course, I imagine how I would like to teach the same course. Although, I see myself as a professor 5-10 yrs down the line, I would like to work in industrial research for a while. Right now, their is a lot of pioneering research in Machine Learning happening in industry. Google DeepMind, FAIR, IBM Watson, MSR are currently what Bell Labs were in the 1960s.</p>
<!-- <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul> -->
  <!-- Pagination links -->
  <!-- <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div> -->
</div>
